<div class="flexContainer">
  <a href="https://github.com/fischerxyz" target="_blank" class="social" style="background-image: url('assets/icons/color/GitHub.png'); background-size: cover;" >
  </a >
  <a href="https://www.linkedin.com/in/david-fischer-322656245" target="_blank" class="social" style="background-image: url('assets/icons/color/LinkedIn.png'); background-size: cover;">
  </a>
  <a href="mailto:davidfischerkontakt@gmail.com" class="social" style="background-image: url('assets/icons/color/Email.png'); background-size: cover;">
  </a>
</div>


