#main {
    background-color: rgba(60, 60, 60, 0.9);
    font-family: 'VT323';   
    width: 100%;
    padding: 2em;
}

h1{
    font-size: 4em;
}
  
.container {
    background-size: cover;
    aspect-ratio: 18 / 9;
    left: 0;
    right: 0;
    margin: auto;
    top: 1em;
    bottom: 1em;
    border: 8px solid black;
}

.visible {
    visibility: visible; 
    position: fixed;
}

.invisible {
    visibility: hidden; 
    position: static;
}

.figure {
    position: absolute;   
    bottom: 6.2%;
    left: 20px;
    z-index: 4;
    height: 40%;
    aspect-ratio: 5/6;
}

.emblem {
    position: absolute;
    top: 20px;
    right: 20px;
}

.centeredText{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

.float{
    position: absolute;
    margin-left: 12px;
	top:40px;
	left:40px;
    height: 64px;
}

dialog[open] {
    width: 20em; 
    background: #ffffff; 
    border: 2px solid #222222;
    margin: 5em auto;
}

dialog:not([open]) {
    display: none;
}

dialog::backdrop { 
    background: rgba(202, 202, 202, 0.5) ;
}

.closeDialogButton{
   float: right;
}

.btn-borderless{
    color:rgba(202, 202, 202, 1);
    border: none;
    outline: none;
    background: none;
}

.btn-borderless:hover{
    cursor: pointer;
    color:rgba(0, 0, 0, 1);
}

.inputLabel{
    margin-block-end: 0.1em;
}

.input{
    width: 100%;
}

.forward{
    transform: scaleX(1);
}

.backward{
    transform: scaleX(-1);
}

.football{
    position: absolute;
    bottom: 4em;
    left: 24em;
    height: 4em;
    width: 4em;
}

.pulsate {
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-name: pulsate;
    opacity: 0.7;
    font-size: 1.2em;
}

@keyframes pulsate {
    0%    {transform:scale(1);}
    50%   {transform:scale(1.2);}
    100%  {transform:scale(1);}     
}

.fade-in {
    animation-duration: 4s;
    animation-name: fade-in;
    opacity: 0.8;
}

@keyframes fade-in {
    0%    { opacity: 0.0;}
    100%  { opacity: 0.8;}     
}

.floor {
    position: absolute;
    width: 100%;
    aspect-ratio: 32/1;
    bottom: 0;
    z-index: 3;
}

.background {
    position: absolute;
    width: 100%;
    aspect-ratio: 32/15;
    top: 0;
}

.clouds {
    position: absolute;
    width: 100%;
    aspect-ratio: 32/15;
    top: -6.5%;
    opacity: 0.8;
    background: url(../../assets/images/clouds/cloud_1.png) repeat-x;
    animation: clouds 100000s linear infinite;
}

.section {
    position: relative;
    z-index: 100;
}

.techstack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 17%;
}

@keyframes clouds {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 10000000px 0;
    }
  }
