<div id="container">
    <div id="stage">
        <div id="shape" class="ring backfaces">
            <div class="plane one" (mouseover)="hover('angular')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Angular.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane two" (mouseover)="hover('azure')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Azure.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane three" (mouseover)="hover('csharp')" (mouseout)="hoverOut()">
                <img src="assets/techstack/CSharp.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane four" (mouseover)="hover('dotnet')" (mouseout)="hoverOut()">
                <img src="assets/techstack/DotNet.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane five" (mouseover)="hover('git')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Git.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane six" (mouseover)="hover('html')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Html.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane seven" (mouseover)="hover('javascript')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Javascript.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane eight" (mouseover)="hover('solidity')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Solidity.png" [attr.width]="size" [attr.height]="size">
            </div>
            <div class="plane nine" (mouseover)="hover('typescript')" (mouseout)="hoverOut()">
                <img src="assets/techstack/Typescript.png" [attr.width]="size" [attr.height]="size">
            </div>
        </div>
    </div>
</div>
<div  *ngIf="hoveredSection != ''" id="description">
    <div id="headline">
        {{headline}}
    </div>
    <div id="rating">
        <div *ngFor="let star of [].constructor(fullStars);">
            <span class="icon">
                <img src="assets/icons/material/star_black_24dp.svg">
            </span>
        </div>
        <div *ngFor="let star of [].constructor(halfStars);">
            <span class="icon">
                <img src="assets/icons/material/star_half_black_24dp.svg">
            </span>
        </div>
        <div *ngFor="let star of [].constructor(emptyStars);">
            <span class="icon">
                <img src="assets/icons/material/star_border_black_24dp.svg">
            </span>
        </div>
    </div>

       
</div>
