<div class="dialogContent">
  <div id="dialogBox">
    <div class="dialogHeader">
      {{"resumeHeader" | translate}}
    </div>
    <div class="dialogSubheader">
      {{"resumeSubHeader" | translate}}
    </div>
    <div class="loader">
      <loader ></loader>
    </div>

    <div class="dialogDescription">
      <div class="dialogPart">
        <div class="resumeHeader">
          <div class="resumeTextHeader">
            {{"resumeExperience" | translate}}
          </div>
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              {{"resumeExperience1H" | translate}}
            </div>
            <div class="resumeContentTimeline">
              {{"resumeExperience1T" | translate}}
            </div>
            <div class="resumeContentDescriptionCount">
              {{"resumeExperience1C1" | translate}}
            </div>
            <div class="resumeContentDescriptionCount">
              {{"resumeExperience1C2" | translate}}
            </div>
            <div class="resumeContentDescriptionCount">
              {{"resumeExperience1C3" | translate}}
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              {{"resumeExperience2H" | translate}}
            </div>
            <div class="resumeContentTimeline">
              {{"resumeExperience2T" | translate}}
            </div>
            <div class="resumeContentDescription">
              {{"resumeExperience2C1" | translate}}
            </div>
          </div>                 
        </div>
      </div>
      <div class="dialogPart">
        <div class="resumeHeader">
          <div class="resumeTextHeader">
            {{"resumeEducation" | translate}}
          </div>
          <div class="resumeContentBox">
            <div class="resumeContentHeader">                     
              {{"resumeEducation1H" | translate}}
            </div>
            <div class="resumeContentTimeline">
              {{"resumeEducation1T" | translate}}
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader">           
              {{"resumeEducation2H" | translate}}
            </div>
            <div class="resumeContentTimeline">
              {{"resumeEducation2T" | translate}}
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              {{"resumeEducation3H" | translate}}
            </div>
            <div class="resumeContentTimeline">
              {{"resumeEducation3T" | translate}}  
            </div>
            <div class="resumeContentDescription">
              {{"resumeEducation3C1" | translate}}  
            </div>
          </div> 
          <div class="resumeContentBox">
            <div class="resumeContentHeader"> 
              {{"resumeEducation4H" | translate}}  
            </div>
            <div class="resumeContentTimeline">
              {{"resumeEducation4T" | translate}}  
            </div>
          </div> 
        </div>
      </div>
      <div class="dialogSkills">
        <div class="resumeTextHeader">
          {{"resumeSkills" | translate}}  
        </div>
        <div class="resumeHeader">
          <skills></skills>
        </div>
      </div>
    </div>
  </div>
</div>
