#main{
    background: var(--main-bg-color); /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, var(--main-bg-color), var(--main-container-color)); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--main-bg-color), var(--main-container-color));
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: left top;
    font-family: sans-serif;
    position: fixed;
    left: 0; 
    top: 0;
}

h1 {
    font-size: 3em;
}

.name {
    font-size: 3em;
    user-select: none;
    cursor: pointer;
}

.close{
  filter: invert(98%) sepia(0%) saturate(2490%) hue-rotate(246deg) brightness(123%) contrast(100%);
}
.close:hover{
  filter: invert(68%) sepia(98%) saturate(1%) hue-rotate(314deg) brightness(81%) contrast(99%);
}

.project-container{
  justify-content: center;
  display: flex;
  width: fit-content;
  margin: auto;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
}

.name-container {
  user-select: none;
  cursor: pointer;
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 34px;
}

.content-container{
  user-select: none;
  cursor: pointer;
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content-container::before{
    content: '[';
    left: 0;
}

.content-container::after{
    content: ']';
    position: absolute;
    right: 0;
}

.content-container::after, .content-container::before {
    position: absolute;
    top: 0;
    
    color: var(--main-fg-color);
    font-size: 42px;
    line-height: 40px;
    
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.project-image{
  width: 30em; 
  height: 15em; 
  margin: 0 4em 1em 4em; 
  cursor: pointer; 
  background-size: cover; 
  background-position: center;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 2em;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.301);
}

.font-color{
  text-align: center; 
  width: 100%; 
  color: var(--dialog-text-color-light);
}

.content-container-list{
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    width: 100%;
    
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.content-container-list-item{
    line-height:40px;
    margin:0;
}

.content-container-text{
    display: inline;
    float: left;
    margin: 0;
}

.content {
    position: relative;
    top: 50%;
    right: 0%;
    height: 160px;
    overflow:hidden;
    
    font-family: 'Lato', sans-serif;
    font-size: 1.6em;
    line-height: 1.6em;
    color: #ecf0f1;  
}
  
  @-webkit-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-webkit-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-o-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-o-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @-moz-keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @-moz-keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }
  
  @keyframes opacity {
    0%, 100% {opacity:0;}
    50% {opacity:1;}
  }
  
  @keyframes change {
    0%, 12.66%, 100% {transform:translate3d(0,0,0);}
    16.66%, 29.32% {transform:translate3d(0,-25%,0);}
    33.32%,45.98% {transform:translate3d(0,-50%,0);}
    49.98%,62.64% {transform:translate3d(0,-75%,0);}
    66.64%,79.3% {transform:translate3d(0,-50%,0);}
    83.3%,95.96% {transform:translate3d(0,-25%,0);}
  }

  .context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

dialog:not([open]) {
 display: none;
}

dialog{
  width: 100%;
  height: 100%;
  border: 6px solid black;
  background-color: var(--main-container-color);
}

dialog[open] {
  animation: show 1s ease normal;
}
@keyframes show{
  from {
      transform: translateY(-110%);
  }
  to {
      transform: translateY(0%);
  }
}


.closeDialogButton{
  position: sticky;
  top: 1em;
  float: right;
}

.btn-borderless{
   color:rgba(202, 202, 202, 1);
   border: none;
   outline: none;
   background: none;
}

.btn-borderless:hover{
  color:rgb(94, 94, 94);
  cursor: pointer;
}




@media only screen and (min-width: 1026px) {
  .svgContainer{
    position: fixed;
    left: 0;
    bottom: 12%;
    visibility: visible;
    user-select: none;
  cursor: pointer;
  }
  .svgContainerMobile{
    position: fixed;
    left: 0;
    bottom: 12%;
    visibility: hidden;
  }
  .info-container {
    margin-top: 15rem;
    text-align: right;
    flex: 0 0 66.66667%;
    max-width: 100%;
    color: var(--main-bg-text-color);
  }
  #main{
    height: 100%;
    width: 100%;
  }

  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0.9);
  }
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, var(--main-fg-color-hover), var(--main-fg-color));
    border-radius: 10px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
  }
}

@media only screen and (max-width: 1026px) {
  .svgContainer{
    position: fixed;
    left: -40px;
    bottom: 2%;
    visibility: hidden;
  }
  .svgContainerMobile{
    position: fixed;
    left: 1em;
    bottom: 1em;
    visibility: visible;
    user-select: none;
  cursor: pointer;
  }
  .info-container {
    margin-top: 40%;
    text-align: right;
    flex: 0 0 66.66667%;
    max-width: 100%;
    color: var(--main-bg-text-color);
  } 

  ::-webkit-scrollbar {
    width: 5px;
    height: 15px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(41, 41, 41, 0.9);
  }
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, var(--main-fg-color-hover), var(--main-fg-color));
    border-radius: 10px;
      -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 3px 13px 1px;
  }

  #main{
    height: 101%;
    width: 101%;
  }
}


.svgAnimation {
  stroke: #FFC300;
  stroke-width: 4px;
  stroke-dashoffset: -5000;
  stroke-dasharray: 8000;
  animation-name: svgAnimation;
  animation-duration: 5s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  }
  
  @keyframes svgAnimation {
    0% {
      stroke-dashoffset: -5000;
      stroke: #FFC300;
    }
    30% {
      stroke: #FF5733;
    }
    50% {
      stroke: #FFC300;
    }
    70% {
      stroke: #FF5733;
    }
    100% {
    stroke-dashoffset:0;  
    stroke: #FFC300;
    }
  }
