<div  style="width: 10em; height: 10em;">
    <div class="circle" style=" width: 10em; height: 10em; transform: translate(-50%, -50%); ">
        <div class="card-track">
            <div class="card-wrapper">
              <div class="card">
                <div class="card-gradient"></div>
                <div class="card-letters"></div>
              </div>
              <div class="card-corners">
                <span class="card-corner"></span>
                <span class="card-corner"></span>
                <span class="card-corner"></span>
                <span class="card-corner"></span>
              </div>
            </div>
          </div>
    </div>
</div>


  