<!-- Code for the new pen -->

<div class="container">
	<div class="container__progressbars"> 
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-angular shadow-angular"></circle>
                </svg>
                <span class="progressbar__text shadow-angular">Angular</span>
            </div>
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-devops shadow-devops"></circle>
                </svg>
                <span class="progressbar__text shadow-devops">Azure DevOps</span>
            </div>    
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-sharp shadow-sharp"></circle>
                </svg>
                <span class="progressbar__text shadow-sharp">C#</span>
            </div>
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-net shadow-net"></circle>
                </svg>
                <span class="progressbar__text shadow-net">.Net</span>
            </div>
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-git shadow-git"></circle>
                </svg>
                <span class="progressbar__text shadow-git">Git</span>
            </div>
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-html shadow-html"></circle>
                </svg>
                <span class="progressbar__text shadow-html">HTML</span>
            </div>
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-js shadow-js"></circle>
                </svg>
                <span class="progressbar__text shadow-js">JavaScript</span>
            </div>    
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-solidity shadow-solidity"></circle>
                </svg>
                <span class="progressbar__text shadow-solidity">Solidity</span>
            </div>    
        </div>
        <div class="progressbarWrapper">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="80" cy="80" r="70" class="progressbar__svg-circle circle-ts shadow-ts"></circle>
                </svg>
                <span class="progressbar__text shadow-ts">TypeScript</span>
            </div>
        </div>

        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-angular shadow-angular"></circle>
                </svg>
                <span class="progressbar__text shadow-angular">Angular</span>
            </div>
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-devops shadow-devops"></circle>
                </svg>
                <span class="progressbar__text shadow-devops">Azure DevOps</span>
            </div>    
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-sharp shadow-sharp"></circle>
                </svg>
                <span class="progressbar__text shadow-sharp">C#</span>
            </div>
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-net shadow-net"></circle>
                </svg>
                <span class="progressbar__text shadow-net">.Net</span>
            </div>
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-git shadow-git"></circle>
                </svg>
                <span class="progressbar__text shadow-git">Git</span>
            </div>
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-html shadow-html"></circle>
                </svg>
                <span class="progressbar__text shadow-html">HTML</span>
            </div>
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-js shadow-js"></circle>
                </svg>
                <span class="progressbar__text shadow-js">JavaScript</span>
            </div>    
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-solidity shadow-solidity"></circle>
                </svg>
                <span class="progressbar__text shadow-solidity">Solidity</span>
            </div>    
        </div>
        <div class="progressbarWrapperMobile">
            <div class="progressbar">
                <svg class="progressbar__svg">
                    <circle cx="60" cy="60" r="52.5" class="progressbar__svg-circle circle-ts shadow-ts"></circle>
                </svg>
                <span class="progressbar__text shadow-ts">TypeScript</span>
            </div>
        </div>
	</div>
</div>

<!-- My social networks (imported from another pen)-->
<div id="main-container-social" class="main-container-social"></div>