<div class="navbar">
    <ul class="nav-list">
        <li class="nav-item" (click)="openDialog('dialog-aboutme')">
            {{"mainAbout" | translate}}
        </li>
        <li class="nav-item" (click)="openDialog('dialog-resume')">
            {{"mainResume" | translate}}
        </li>
        <li class="nav-item" (click)="navigateTo('../pixelventure')">
            {{"mainPixelventure" | translate}}
        </li>
        <li class="nav-item" (click)="openPage('https://davidfischer.blog/')">
            {{"mainBlog" | translate}}
        </li> 
    </ul>
</div>