<div class="dialogContent">
  <div id="dialogBox">
    <div class="dialogHeader">
      {{"aboutHeader" | translate}}
    </div>
    <div class="dialogSubheader">
      {{"aboutSubHeader" | translate}}
    </div>
    <div class="loader">
      <loader ></loader>
    </div>
    <div class="dialogDescription">
      <div id="dialogImage" >
       
      </div>
      <div id="textBox">
        <div id="whoAmI">
          {{"aboutWho" | translate}}
        </div>
        <div id="description">
          {{"aboutMySelf" | translate}}
        </div>
        <div id="located">
          {{"aboutDescription" | translate}}
        </div>
        <div id="keyValueContainer">
          <div class="keyValue">
            <div class="key">
              {{"aboutK1" | translate}}
            </div>
            <div class="value">
              {{"aboutV1" | translate}}
            </div>
          </div> 
          <div class="keyValue">
            <div class="key">
              {{"aboutK2" | translate}}
            </div>
            <div class="value">
              <a class="mailTo" href="mailto:davidfischerkontakt@gmail.com">{{"aboutV2" | translate}}</a>
            </div>
          </div> 
          <div class="keyValue">
            <div class="key">
              {{"aboutK3" | translate}}
            </div>
            <div class="value">
              {{"aboutV3" | translate}}
            </div>
          </div> 
          <div class="keyValue">
            <div class="key">
              {{"aboutK4" | translate}}
            </div>
            <div class="value">
              {{"aboutV4" | translate}}
            </div>
          </div> 
        </div>
        <div class="socialContainer">
          <a href="https://github.com/fischerxyz" target="_blank" class="social" style="background-image: url('assets/icons/white/GitHub.png'); background-size: cover;" >
          </a >
          <a href="https://www.linkedin.com/in/david-fischer-322656245" target="_blank" class="social" style="background-image: url('assets/icons/white/LinkedIn.png'); background-size: cover;">
          </a>
          <a href="mailto:davidfischerkontakt@gmail.com" class="social" style="background-image: url('assets/icons/white/Email.png'); background-size: cover;">
          </a>
        </div>  
      </div> 
     
    </div> 
  </div>
</div>
